<div class="tab">
    <div class="row">
        <button class="action py-2">section1</button>
        <div class="section">
            <div class="item pt-0">hello1</div>
            <div class="item pt-0">hello2</div>
            <div class="item pt-0">hello3</div>
        </div>
        <button class="action py-2">section2</button>
        <div class="section">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dolorum ratione. Aut, officiis obcaecati. Facere, eos excepturi maxime repudiandae aliquid, accusantium doloribus facilis cupiditate, sit ratione reiciendis blanditiis optio natus.
            </p>
        </div>
        <button class="action py-2">section3</button>
        <div class="section">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dolorum ratione. Aut, officiis obcaecati. Facere, eos excepturi maxime repudiandae aliquid, accusantium doloribus facilis cupiditate, sit ratione reiciendis blanditiis optio natus.
            </p>
        </div>
    </div>
</div>
