<div class="head">
    <div class="row mt-4">
        <div class="col-1">
            <div class="changeCss">
                <div class="set">
                    <i class="bi bi-gear"></i>
                </div>
                <div class="change">
                    <a type="button" (click)="loadStyle('style1.css')" href="#">style 1</a>
                    <a type="button" (click)="loadStyle('style2.css')" href="#">style 2</a>
                    <a type="button" (click)="loadStyle('style3.css')" href="#">style 3</a>
                </div>
            </div>
        </div>
        <div class="col-10">
            <h1>Accordion</h1>
        </div>
    </div>
</div>